# Database config
MYSQL_DATABASE=openeats
MYSQL_ROOT_PASSWORD=FILLMEIN

# Django config
API_URL=0.0.0.0:8000
API_PORT=8000
DJANGO_SECRET_KEY=FILLMEIN
DJANGO_SETTINGS_MODULE=base.settings
DJANGO_DEBUG=False
ALLOWED_HOST=FILLMEIN,FILLMEIN
HTTP_X_FORWARDED_PROTO=true

# Node config
NODE_ENV=production
NODE_URL=localhost:8080
NODE_API_URL=
NODE_LOCALE=en
